*{
    margin:0;
    padding:0;
}
body {
    background-color:#74b1d1;
    color:#fff;
    font:14px/1.3 Arial,sans-serif;
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100;
}nav{
    /* bords redondeados*/
    background:#FF69B4;
    borde-radius:10px;

    -webkit-border-radius:10px;/*para chrome y safari*/
    -moz-border-radius:10px;/*para mozilla firefox*/
    -o-border-radius:10px;/*para opera*/
    background-image: linear-gradient(top,#FFF,#CCC);/*el estandar por defecto*/
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FFF),to(#CCC));/*para chrome y safari*/
    background-image: -moz-linear-gradient(top center,#FFF,#CCC);
    background-image: -o-linear-gradient(top,#FFF,#CCC);/*para opera*/
    width: 950px;
    overflow: hidden;
    margin: auto;
    padding: 10px;
    vertical-align: 15px;
}
nav ul{
    text-align: center;
    list-style: none;
    color: #FF0000;

}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
nav ul li{
background: #FF4500;
    float: left;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav ul li:hover{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1E90FF),to(#fff));/*para chrome*/
    background-image: -moz-linear-gradient(top center,#1E90FF,#FFF );
    background-image: -o-linear-gradient(top,#555,#000);/*para opera*/
    background-image: linear-gradient(top,#1E90FF ,#FFF);/*el estandar por defecto*/
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;

    -webkit-box-shadow:1px, -1px 0px #999;/*chromey safari*/
    -moz-box-shadow:3px, -2px 2px #999;
    -o-box-shadow:1px, -1px 0px #999;
    box-shadow:3px, -2px 2px #999;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #191970;
    font-weight: bold;
    font-size: 18px;
}
nav ul li a:hover{
    color:  #8B0000;
    text-align: center;
}
